@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-100: #1f2523;
  --color-gray-200: #4d5c57;
  --color-gray-300: #cdd5d2;
  --color-gray-400: #e4ece9;
  --color-gray-500: #f9fbfa;
  --color-green-100: #1f8451;
  --color-green-200: #2cb178;

  --font-sans: "Open Sans", sans-serif;
}
